[Unit]
Description=CM4 LCD Suite - ai-chess-lcd
After=network-online.target
Wants=network-online.target
Conflicts=pfsense-lcd ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd tpot-map-lcd cyber-threat-lcd  cm4-ai-bricks.service

[Service]
Type=simple
EnvironmentFile=/etc/default/ai-chess-lcd
ExecStartPre=-/bin/systemctl stop pfsense-lcd ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd tpot-map-lcd cyber-threat-lcd  cm4-ai-bricks.service
ExecStart=/usr/bin/python3 -u /opt/ai-chess-lcd/ai_chess_lcd.py
WorkingDirectory=/opt/ai-chess-lcd
Restart=always
RestartSec=3
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
