LCD_LIB_DIR=/home/sysop/CM4-NAS-Double-Deck_Demo/RaspberryPi
LCD_ROTATE=180
ADGUARD_URLS=http://192.168.1.206,http://192.168.1.206:3000,http://192.168.1.207,http://192.168.1.207:3000
ADGUARD_USER=admin
ADGUARD_PASSWORD=CHANGE_ME
SCAN_INTERVAL=10
ADGUARD_TITLE=AdGuard LCD
