[Unit]
Description=Run CM4 safe Bookworm-only update nightly

[Timer]
OnCalendar=*-*-* 03:20:00
RandomizedDelaySec=20m
Persistent=true
Unit=cm4-safe-nightly-update.service

[Install]
WantedBy=timers.target
