LCD_LIB_DIR=/home/sysop/CM4-NAS-Double-Deck_Demo/RaspberryPi
LCD_ROTATE=180
PFSENSE_HOST=192.168.1.1
WAN_TEST_HOST=1.1.1.1
DNS_TEST_NAME=google.com
TPOT_HOST=192.168.1.80
TPOT_USER=sysop
TPOT_PORT=64295
TPOT_KEY=/home/sysop/.ssh/tpot_lcd_ed25519
TPOT_ES_URL=http://127.0.0.1:64298
