[Unit]
Description=CM4 LCD Suite - tpot-map-lcd
After=network-online.target
Wants=network-online.target
Conflicts=pfsense-lcd ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd  cyber-threat-lcd ai-chess-lcd cm4-ai-bricks.service

[Service]
Type=simple
EnvironmentFile=/etc/default/tpot-map-lcd
ExecStartPre=-/bin/systemctl stop pfsense-lcd ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd  cyber-threat-lcd ai-chess-lcd cm4-ai-bricks.service
ExecStart=/usr/bin/python3 -u /opt/tpot-map-lcd/tpot_map_lcd.py
WorkingDirectory=/opt/tpot-map-lcd
Restart=always
RestartSec=3
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
