[Unit]
Description=CM4 LCD Suite - pfsense-lcd
After=network-online.target
Wants=network-online.target
Conflicts= ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd tpot-map-lcd cyber-threat-lcd ai-chess-lcd cm4-ai-bricks.service

[Service]
Type=simple
EnvironmentFile=/etc/default/pfsense-lcd
ExecStartPre=-/bin/systemctl stop  ai-bricks-lcd wifi-radar-lcd tpot-lcd adguard-lcd packet-storm-lcd tpot-map-lcd cyber-threat-lcd ai-chess-lcd cm4-ai-bricks.service
ExecStart=/usr/bin/python3 -u /opt/pfsense-lcd/pfsense_lcd.py
WorkingDirectory=/opt/pfsense-lcd
Restart=always
RestartSec=3
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
